body{
    font-family: 'Spartan', sans-serif;
    margin: 0;
    background-color: hsl(222, 26%, 31%);
    color: white;
}

.calculator{
    margin: 100px auto;
    width: 30%;
}

.title-line{
    position: relative;
}

.title-line>h1{
    margin: 0;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: -6px;
}

.theme{
    position: absolute;
    right: 0;
    bottom: 0;
}

.theme>div:last-child{
    display: flex;
    align-items: center;
}

.theme h1{
    margin: 0;
    font-size: 0.7em;
    font-weight: bold;
    margin-right: 20px;
}

.numbers{
    position: absolute;
    right: 5px;
    top: -15px;
    display: flex;
    justify-content: space-between;
    width: 40px;
    font-weight: bold;
}

.numbers>p{
    font-size: 0.7em;
    margin: 0;
    margin-bottom: 4px;
}

.bar{
    width: 50px;
    height: 20px;
    background-color: hsl(223, 31%, 20%);
    border-radius: 10px;
    position: relative;
}

.circle{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: hsl(6, 63%, 50%);
    position: absolute;
    top: 3px;
    left: 2px;
}

.circle-middle{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: hsl(25, 98%, 40%);
    position: absolute;
    top: 3px;
    left: 18px;
}

.circle-right{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: hsl(176, 100%, 44%);
    position: absolute;
    top: 3px;
    right: 2px;
}

.screen{
    height: 100px;
    background-color: hsl(224, 36%, 15%);
    position: relative;
    bottom: -20px;
    border-radius: 10px;
}

#value{
    position: absolute;
    top: 5px;
    left: 5px;
}

#result{
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 2em;
    font-weight: bold;
}

.buttons{
    background-color: hsl(223, 31%, 20%);
    position: absolute;
    top: 240px;
    width: 30%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    row-gap: 20px;
    border-radius: 10px;
}

button{
    border-radius: 5px;
    border: none;
    height: 40px;
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0px 3px 0 0 hsl(28, 16%, 65%);
    color: hsl(221, 14%, 31%);
    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Spartan', sans-serif;
}

.reset{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0px 3px 0 0 hsl(224, 28%, 35%);
    color: white;
}

.equal{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 3px 0 0 hsl(6, 70%, 34%);
    color: white;
}

.del{
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0px 3px 0 0 hsl(224, 28%, 35%);
    color: white;
}

@media only screen and (max-width: 1200px){
    
    .calculator{
        width: 35%;
    }

    .screen{
        width: 100%;
        margin: auto;
    }

    .buttons{
        width: 35%;
    }

}

@media only screen and (max-width: 992px){

    .calculator{
        width: 45%;
    }

    .buttons{
        width: 45%;
    }

}

@media only screen and (max-width: 767px){

    .calculator{
        width: 55%;
    }

    .buttons{
        width: 55%;
    }

}

@media only screen and (max-width: 576px){

    .calculator{
        width: 80%;
    }

    .buttons{
        width: 80%;
    }

}

@media only screen and (max-width: 375px){
    .calculator{
        margin: 20px auto;
        width: 100%;
    }

    .title-line{
        width: 80%;
        margin: 70px auto;
    }

    .screen{
        width: 80%;
        margin: auto;
    }

    .buttons{
        width: 80%;
        margin: 0px auto;
        position: relative;
        top: 100px;
    }
}